body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:#072336;
  }
  h2{
    float:left;
    margin-top:5px;
    margin-left:5px ;
    color:white;
  }
    .bg{
      width: 300px;
      padding: 40px;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
    }
  
    .bg h1{
      color: white;
      font-weight: 500;
      text-align: center;
    }
    

    ul li {
      border:0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #4fa8e4 ;
      padding: 12px 15px;
      outline: none;
      color: white;
      border-radius: 24px;
      transition: 0.25s;
      cursor: pointer;
    }
    ul li{
      background:#2ecc71;
    }

    