@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: rgb(58, 58, 63);
  
  
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.image img{
  opacity: 0.5;
}

#pPrint{
  color: black;
  font-size: large;
}
#navigation a{
  color: black;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  