*{
	margin:0;
	padding:0;
	font-family=Century Gothic;
}
header{
	background-image:url("blockkkkk.jpg");
	height:100vh;
	background-size:cover;
	background-position:center;
}
ul{
	float:right;
	list-style-type:none;
	margin-top:10px;
}
ul li{
	display:inline-block;
	color:white;
	padding:8px;
	font-size:x-large;
	font-weight:bold;
}
.logo img{
	float:left;
	width:150px;
	height:auto;
	margin-left:10px;
	margin-top:0px;
	
}
.title{  position:absolute;
    top:50%;
	left:20%;
}
.title {
	font-size:x-large;
	color:white;
}
.info input{
	background-color:grey;
}


